.start {
    width: 100%;
    height: 100vh; 
    color: $font-default-color;
    display: flex;
    align-items: flex-start;
    position: relative;
    overflow: hidden;
    background: conic-gradient(
        from 180deg at 50% 110%,
        #260952 29%,
        #4E098F 50%,
        #8721AB 73%,
        #BC2FDF 95%
    );

    .text-container {
        flex: 1;          
        min-width: 400px;
        max-width: 800px;
        margin-left: 0.5%;

        h1{
            margin-top: 36%;
            filter: drop-shadow(rgb(0, 0, 0) 0rem 4px 6px);
        }

        h1, p, button {
            margin-left: 120px;
        }

        span{
            color: $secondary-color;
        }

        p {
            font-size: 1.8rem;
            font-weight: 400;
            font-style: normal;
            filter: drop-shadow(rgb(0, 0, 0) 0rem 4px 6px);
        }

        button{
                font-size: 1.3rem;
                font-weight: bold;
                color: $base-color;
                margin-top: 15px;
                background-color: $highlight-color;
                border-radius: 50px;
                border-color: $font-default-color;
                padding: 10px 30px 10px 30px;
        }
    }

    .img-container {
        position: absolute;   
        overflow: hidden;
        width: 100%; 
        height: 100%;

        img {
            width: 70%;
            position: absolute;
            left: 40%;
            top: 50px;
            object-fit: cover;
        }
    }
    
}

.search{
    margin: 0;
    padding-top: 30px;
    color: $font-default-color;
    background-color: $base-color;

    .container-movies {
        display: flex;
        flex-wrap: wrap;          
        gap: 10px;
        row-gap: 0;              
        justify-content: center; 
    }
}

.new-releases{
    background: radial-gradient(
    ellipse at center,
    #502786 7%,
    #48145D 53%,
    #0A0048 100%
    );
    background-size: 150% 100%;
    background-repeat: no-repeat;

    padding: 60px;

    h1 {
        color: $highlight-color;
        margin: 0 0 20px 0;
    }

    .new-releases-card-container{
        display: flex;
        gap: 20px;
    }
}