.movie-card{
    margin: 2%;
    margin-bottom: 0%;
    width: 250px;

    .improv-img{
        background-color: $secondary-color;
        height: 200px;
        width: 250px;
        border-radius: 16px;
    }

    h3 {
        font-size: 1.8rem;
        margin-top: 12px;
        margin-bottom: 0px;
    }

    .info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;

        .info-left {
            display: flex;
            align-items: center;
            gap: 10px; 
        }

        .info-right {
            margin: 0;
            align-items: center;
        }
    }

}