.filter-genre {
  position: relative;
  width: 170px;
  margin-right: 16px;

  input {
    width: 100%;
    padding: 7px;
    background-color: $base-lighter-color;
    font-size: 1rem;
    appearance: none;
    color: $font-default-color;
    border: none;
  }
}

.filter-genre-options {
  position: absolute;
  left: 0;
  width: 190px;
  background-color: $base-lighter-color;
  color: $font-default-color;
  z-index: 999;
  overflow: hidden;
}

.filter-genre-option {
  padding: 0.6rem 0.8rem;
  cursor: pointer;
  transition: background 0.2s ease;

  &:hover,
  .active {
    background-color: $base-color;
  }
}
