.form-add-movie{
    padding: 100px;
    display: flex;
    flex-direction: column;
    width: 80%;

    label {
        color: $font-default-color;
        font-size: 1.3rem;
        display: block;
    }

    input, textarea{
        background-color: #22198890;
        border:none;
        border-radius: 8px;
        padding: 4px 16px 4px 16px;
        font-size: 1.3rem;
        color: $font-default-color;
        margin-bottom: 16px;
    }

    textarea{
        resize: vertical;
    }

    .og-title-lang-container{
        display: flex;
        width: 100%;
        gap: 8px;

        .label-input-container{
            &:first-child{
                flex: 70%
            }

            &:last-child{
                flex: 30%
            }
        }
    }

    .label-input-container{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .submit-btn{
        background-color: $highlight-color;
        font-size: 1.2rem;
        font-weight: bold;
        border-radius: 32px;
        padding: 8px;
    }

    .cast-btn, .tag-btn{
        background-color: $highlight-color;
        border:none;
        border-radius: 0 8px 8px 0;
        padding: 4px 16px 4px 16px;
        font-size: 1.3rem;
        margin-bottom: 16px;
    }

    .cast-item, .tag-item{
        background-color: $highlight-color;
        font-size: 1.2rem;
        font-weight: bold;
        border-radius: 32px;
        padding: 8px;
        margin-bottom: 1rem;
        width: auto;
    }

    textarea{
        height: 10%;
    }

    .tags-container, .cast-container{
        margin-top: 8px;
        display: flex;
        flex-wrap: wrap;
        gap: 8px;
        width: fit-content;
    }
}