@import "../../scss/variables";

.movie-id-index{
    background-color: $base-color;
    height: 100%;
    padding: 90px 0 0 13vw;
    display: flex;
    gap: 5%;


    .movie-id-index-right{
        margin-left: 30%;
        max-width: 50%;
        h1{
            color: $font-default-color;
        }

        h2{
            color: $secondary-color;
            font-size: 2rem;
        }

        h3{
            color: $font-default-color;
            font-size: 1.5rem;
        }

        p{
            color: $font-default-color;
            font-size: 1.3rem;        
        }

        .cast-div{
            margin: 10px 0 10px 0;
        }

    }

    .movie-id-index-left{
        margin-top: 20px;
    }
}