@import "./scss/_base.scss";
@import "./scss/_mixins.scss";
@import "./scss/_variables.scss";

body {
    background: conic-gradient(
    from 180deg at 50% 110%,
    #260952 29%,
    #4E098F 50%,
    #8721AB 73%,
    #BC2FDF 95%
  );
    color: $font-default-color;
}

.navbar {
    a {
    color: $font-default-color;  
    font-size: 1.5rem;     
    padding: 1.8rem;     
    text-decoration: none;

        &:hover {
        text-decoration: $font-default-color;
        opacity: 0.8;
        }
    }  

    a.active {
      font-weight: bold;
    }
}

.home {

    h1{
        filter: drop-shadow(rgb(0, 0, 0) 0rem 4px 6px);
    }

    span{
        color: $secondary-color;
    }

    p {
        font-size: 1.8rem;
        font-weight: 400;
        font-style: normal;
        filter: drop-shadow(rgb(0, 0, 0) 0rem 4px 6px);
    }

    button{
        font-size: 1.3rem;
        font-weight: bold;
        color: $base-color;
        background-color: $highlight-color;
        border-radius: 50px;
        border-color: $font-default-color;
        padding: 10px 30px 10px 30px;
    }
}

.movie-card{
    margin: 2%;

    .improv-img{
        background-color: $secondary-color;
        height: 200px;
        width: 250px;
        border-radius: 16px;
    }

    h3 {
        font-size: 1.8rem;
    }

    .info{
        display: flex;
        flex-direction: row;
        color: $secondary-color;
    }
}