@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "./_variables.scss";

* {
    font-family: "Poppins", sans-serif;
}

h1 {
    font-size: 4rem;
}

/*Corazón*/
#heart-svg {
  cursor: pointer;
  overflow: visible;
  width: 60px;
  margin: 20px;

  svg {
    #heart {
      transform-origin: center;
      fill: none;
      stroke: #000; // borde opcional
    }
  }
}

.checkbox {
  display: none;

  &:checked + label {
    svg {
      #heart {
        fill: $highlight-color; // el corazón pasa a estar lleno
        stroke: none;  // opcional: sacamos el borde
      }
    }
  }
}