%icon-style {
    font-size: 32px;
}

.icon-star {
  @extend %icon-style;
  color: $highlight-color;
}

.icon-heart-unactive {
  @extend %icon-style;
  color: $font-default-color;
}

.icon-heart-active {
  @extend %icon-style;
  color: $highlight-color;
}

%btn-searchbar{
  font-weight: bold;
  color: $base-color;
  background-color: $highlight-color;
  padding: 8px 16px;
  font-size: 1rem;
}

.filter-btn{
  @extend %btn-searchbar;
  border-radius: 50px 0 0 50px;
}

.enter-btn{
  @extend %btn-searchbar;
  border-radius: 0 50px 50px 0;
}

%btn-conf-movie-card{
  background: $base-lighter-color;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 6px 10px;
  border-radius: 6px;
  width: 90%;

  &:hover {
    background-color: rgba($base-lighter-color, 1);
  }
}

.edit-btn{
  @extend %btn-conf-movie-card;
  color: $highlight-color;
}

.delete-btn{
  @extend %btn-conf-movie-card;
  color: rgb(223, 0, 0);
}