%icon-style {
    font-size: 32px;
}

.icon-star {
  @extend %icon-style;
  color: $highlight-color;
}

.icon-heart-unactive {
  @extend %icon-style;
  color: $font-default-color;
}

.icon-heart-active {
  @extend %icon-style;
  color: $highlight-color;
}

%btn-searchbar{
  font-weight: bold;
  color: $base-color;
  background-color: $highlight-color;
  padding: 8px 16px;
  font-size: 1rem;
}

.filter-btn{
  @extend %btn-searchbar;
  border-radius: 50px 0 0 50px;
}

.enter-btn{
  @extend %btn-searchbar;
  border-radius: 0 50px 50px 0;
}

%btn-conf-movie-card{
  background: $base-lighter-color;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 6px 10px;
  border-radius: 6px;
  width: 90%;
  font-size: 1.2rem;

  &:hover {
    background-color: rgba($base-lighter-color, 1);
  }
}

.edit-btn{
  @extend %btn-conf-movie-card;
  color: $highlight-color;
}

.delete-btn{
  @extend %btn-conf-movie-card;
  color: rgb(223, 0, 0);
}

%search-items-input{
  width: 100%;
  padding: 8px;
  background-color: $base-lighter-color;
  font-size: 1rem;
  color: $font-default-color;
  border: none;
  appearance: none;
  cursor: pointer;
    
  background-image: url("data:image/svg+xml;utf8,<svg fill='gray' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/></svg>");
  background-repeat: no-repeat;
  background-position: right 0.4rem center;
  background-size: 1rem;
}

.order {
  position: relative;
  width: 100px;

  .filter-rating-input {
    @extend %search-items-input;
  }
}