.new-release-card {
    border-radius: 16px;
    padding: 16px;
    background-color: rgba(0, 0, 0, 0.25);

    width: 420px;
    height: 200px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);

    .poster{
        background-color: $secondary-color;
        width: 150px;
        height: 200px;
        display: flex;
    }

    .content{
        color: $font-default-color;
        flex-direction: column;

        .author{
            color: $secondary-color;
            font-size: 1.3rem;
        }
    }

    .footer{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 10px;

        .rating{
            color: $font-default-color;
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 10px;

            .score{
                font-size: 1.7rem;
            }
        }
    }
}
